.about{
    width: 100%;
    padding: 150px 0 250px;
}
.about-position{
    display: flex;
    flex-wrap: wrap;
    scroll-margin-top: $scroll-margin-top;
}
.about-content{
    width: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 700px;
    .main-h2{
        padding: 10px 0 35px 10px;
        img{
            width: 22%;
        }
    }
    .about-text{
        p{
            width: 55%;
            text-align: justify;
            @include paragraph($black, $com, 1.1rem, normal, 220%);
        }
    }
}

.about-btn{
    width: 150px;
    padding-top: 50px;
    a{
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
    }
    .about-btn-two{
        opacity: 1;
        transition: all 0.5s;
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
    }
    a:hover .about-btn-two{
        opacity: 0;
    }
}

.about-image{
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    * {
        box-sizing: border-box;
      }
      
    p{
        @include paragraph($black, $com, 1.2rem, normal, 220%);
        width: auto;
    }
    // .about-image-div{
    //     shape-outside: polygon(100px 0, 300px 0px, 300px 100px);
    //     width: 300px;
    //     height: 200px;
    //     float: right;
    //     padding: 150px;
    //     border: 1px solid black;
        
    // }
    // img{
    //     shape-outside: polygon(100px 0, 200px 10px, 300px 100px);
        
    // }
    
}

@media (max-width: 1600px){
    .about{
        padding: 100px 0 200px;
    }
    .about-content{
        .main-h2{
            img{
                width: 17%;
            }
        }
    }
}

@media (max-width: 1400px){
.about-content{
    height: 700px;
    .about-text{
        p{
            width: 50%;
            @include paragraph($black, $com, 1.1rem, normal, 190%);
        }
    }
}
.about-btn{
    padding-top: 20px;
}
}

@media (max-width: 1200px){
    .about{
        padding: 50px 0 100px;
    }
    .about-content{
        height: 700px;
        .about-text{
            p{
                width: 45%;
                @include paragraph($black, $com, 1.0rem, normal, 190%);
            }
        }
    }
}

@media (max-width: 800px){
    .about{
        padding: 30px 0 200px;
    }
    .about-content{
        height: 470px;
        .about-text{
            p{
                width: 55%;
                text-align: left;
                @include paragraph($black, $com, 1.0rem, normal, 170%);
            }
        }
    }
    .about-btn{
        width: 120px;
        padding-top: 10px;
    }
}