.header{
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1200px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .heder-position{
    margin-left: auto;
    width: 55%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  
  #site-id-3{
    .heder-content{
      p{
        color: $lightBlue;
      }
    }
  }

  .heder-content{
    text-align: right;
    padding-top: 20%;
    padding-right: 30%;
    h2{
        width: 100%;
        @include paragraph($white, $com, 3.1rem, bold, 200%);
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }
    p{
        width: 100%;
        @include paragraph($violet, $com, 1.7rem, normal, 110%);
        text-transform: uppercase;
        margin: 0;
        padding: 5px;
    }
    .heder-img{
        margin-left: auto;
        width: 200px;
        padding-top: 30px;
        a{
            display: block;
            width: 100%;      
            height: 100%;      
            img{
                width: 100%;
            }
        }
    }
    
}

  .header-new{
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 300px;
    position: fixed;
    z-index: 100;
  }

 