/*Basic css section*/
.payment{
    // background: linear-gradient(-70deg, #ffe157, #fdcc1e, #fcb90d, #fcaa1f);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 2800px;
    position: relative;
    // &::before{
    //     content:url('./../images/oplaty/11.png'); /* with class ModalCarrot ??*/
    //     position: absolute; /*or absolute*/
    //     width: 90%;
    //     z-index: 90; /*a number that's more than the modal box*/
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    // }
    // &::after{
    //     content:url('./../images/oplaty/12.png'); /* with class ModalCarrot ??*/
    //     position: absolute; /*or absolute*/
    //     width: 100%;
    //     z-index: 10; /*a number that's more than the modal box*/
       
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    // }
}

.payment-space-one, .payment-space-two{
    padding: 215px 0;
    width: 100%;
}

@media (max-width: 1600px){
    .payment{
        min-height: 2100px;
    }
    .payment-space-one{
        padding: 150px 0;
    }
    .payment-space-two{
        padding: 60px 0;
    }
}


@media (max-width: 1400px){
    .payment{
        min-height: 2200px;
    }
    .payment-space-one{
        padding: 130px 0;
    }
}

@media (max-width: 1100px){
    .payment{
        min-height: 1800px;
    }
    .payment-space-one{
        padding: 100px 0;
        width: 100%;
    }
    .payment-space-two{
        padding: 40px 0;
    }
}

@media (max-width: 480px){
    .payment{
        min-height: auto;
    }
    .payment-space-one{
        padding: 40px 0;
        width: 100%;
    }
    .payment-space-two{
        padding: 40px 0;
    }
}
/*First part of section*/

.payment-one{
    position: relative;
    scroll-margin-top: $scroll-margin-top;
    .main-h2{
        padding: 10px 0 35px 10px;
        img{
            width: 70%;
        }
    }
}

.payment-h4{
    width: 100%;
    padding: 5px 0px;
    display: flex;
    h4{
        margin: 0;
        @include paragraph($black, $com, 1.3rem, bold, 180%);
    }
    span{
        margin: 0px 8px 0 -30px;
        padding-top: 12px;
    }
    img{
        width: 20px;
    }
} 

.payment-ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
    ul{
        width: 45%;
        padding: 5px 10px 10px 10px;
        list-style: none;
    }
    li{
        @include paragraph($black, $com, 1.3rem, normal, 120%);
        padding: 8px 0;
        &::before{
            content: "\2022";
            color: $violet;
            font-weight: bold;
            display: inline-block; 
            width: 1em;
            margin-left: -1em;
        }
    }
}

#site-id-3{
    .payment-ul{
        li{
            color: $white;
            font-weight: normal;
            &::before{
                color: $red;
            }
        }
    }
    .payment-h4{
        h4{
            color: $white;
            font-weight: normal;
        }
    }   
  }

  @media (max-width: 1600px){
    .payment-one{
        .main-h2{
            padding: 10px 0 35px 0px;
            img{
                width: 50%;
            }
        }
    }
    .payment-h4{  
        h4{
            @include paragraph($black, $com, 1.3rem, bold, 170%);
        }
    }
    .payment-ul{
        padding-left: 5px;
        li{
            @include paragraph($black, $com, 1.3rem, normal, 120%);
        }
    } 
}

@media (max-width: 1400px){
    .payment-h4{  
        h4{
            @include paragraph($black, $com, 1.2rem, bold, 170%);
        }
    }
    .payment-ul{
        padding-left: 5px;
        ul{
            padding: 5px 10px 10px 5px;
        }
        li{
            @include paragraph($black, $com, 1.2rem, normal, 120%);
            padding: 5px 0;
        }
    } 
}


@media (max-width: 1000px){
    .payment-one{
        .main-h2{
            padding: 10px 0 0px 0px;
            img{
                width: 55%;
            }
        }
    }
    .payment-h4{  
        h4{
            @include paragraph($black, $com, 1.0rem, bold, 140%);
        }
        span{
            margin: 0px 8px 0 -20px;
            padding-top: 8px;
        }
        img{
            width: 15px;
        }
    }
    .payment-ul{
        padding-left: 5px;
        ul{     
            padding: 5px 10px 10px 5px;
        }
        span{
            margin: 0px 3px 0 -25px;
            padding-top: 5px;
        }
        li{
            @include paragraph($black, $com, 1.1rem, normal, 120%);
            padding: 5px 0;
        }
    } 
}

@media (max-width: 480px){
    .payment-one{
        .main-h2{
            padding: 10px 0 25px 0px;
            img{
                width: 100%;
            }
        }
    }
    .payment-h4{  
        h4{
            @include paragraph($black, $com, 1.2rem, bold, 140%);
        }
        span{
            margin: 0px 8px 0 5px;
            padding-top: 8px;
        }
        img{
            width: 15px;
        }
    }
    .payment-ul{
        padding: 5px 0 20px 15%;
        ul{     
            padding: 0px 0px 0px 0px;
            width: 90%;
            margin: 0;
        }
        span{
            margin: 0px 3px 0 -25px;
            padding-top: 5px;
        }
        li{
            @include paragraph($black, $com, 1.2rem, normal, 120%);
            padding: 5px 0;
        }
    } 
}


/*Second part of section*/
.payment-two{
    @include flex(flex, wrap);
    justify-content: center;
    scroll-margin-top: $scroll-margin-top;
    .main-h2{
        padding: 10px 0 50px 10px;
        img{
            width: 22%;
        }
    } 
}

.payment-progressbar{
    border: 2px solid $violet;
    border-radius: 13px;
    width: 94%; 
    display: flex;
    justify-content: space-between;
    span{
        padding: 5px;
        width: 32%;
        border-radius: 13px;
    }
}


#site-id-3{
    .payment-progressbar{
        border: 2px solid $lightRed;
    }
    .payment-two-div{
        background-color: $cardColorTwo;
        &:hover{
            box-shadow: inset 0px 0px 0px 10px $red; 
        }
    }
    .div-header{
        background-color:  $cardColorHeadTwo;
    }
  }

.payment-two-content{
    width: 100%;
    @include flex(flex, wrap);
    justify-content: center;
    padding-top: 80px;
    /*One of three column*/

    .payment-two-div{
        width: 30%;
        padding: 10px;
        margin: 0 10px;
        border-radius: 33px;
        background-color: $cardColorOne;
        transition: 1s transform, .2s box-shadow;
        box-sizing: border-box;
        &:hover{
            transform: translateY(-50px);
            box-shadow: inset 0px 0px 0px 10px $violet; 
        }
        // &:hover ~ .payment-progressbar{
        //      span{
        //         background-color: $violet;
        //      }
        // }
    }
  
    .div-header{
        background-color:  $cardColorHead;
        padding-top: 20px;
        border-radius: 26px 26px 0 0;
        text-align: left; 
        h3, p{
            color: $violet;
            font-style: $com;
            font-size: 1.4rem;
            font-weight: normal;
            width: 82%;
            margin: 5px 0;
            letter-spacing: 3px;
        }
        h3{
            font-size: 1.7rem;
            margin: 5px auto;
        }
        p{
            margin-left: 35px;
        }
        .h3-padding{
            padding-bottom: 30px;
        }
    }
    .div-header-img{
        width: 82%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        img{
            padding-bottom: 10px;
        }
        .div-header-img-one{
            width: 42%;
        }
        .div-header-img-two{
            width: 14%;
        }
        // .header-img-one-width{
        //     width: 30%;
        // }
    }
    .div-body{
        @include flex(flex, wrap);
        padding: 10px 20px;
        span{
            padding: 15px 10px 0 0;
            width: 7%;
            img{
                width: 100%;
            }
        }
        p{
            width: 89%;
            font-style: $com;
            font-size: 1.1rem;
            text-align: left;
            margin: 10px 0;
        }
        .paragraf-secend-img{
            width: 65%;
        }
        .paragraf-second-span{
            width: 18%;
        }
    }
    .pt{
        padding-top: 40px;
    }
    .pb{
        padding-bottom: 40px;
    }
}



@media (max-width: 1600px){
    .payment-two{
        .main-h2{
            padding: 10px 0 30px 0px;
            img{
                width: 18%;
            }
        } 
    }
    .payment-two-content{
        /*One of three column*/
        .payment-two-div{
            width: 30%;
        }
        .div-header{
            padding-top: 10px;
            h3, p{
                font-size: 1.3rem;
            }
            h3{
                font-size: 1.5rem;
            }
        }
        .div-header-img{
            .div-header-img-one{
                width: 38%;
            }
            .div-header-img-two{
                width: 12%;
            }
        }
        .div-body{
            padding: 7px 10px;
        }
        .pb{
            padding-bottom: 30px;
        }
    }
}

@media (max-width: 1400px){
    .payment-two-content{
        /*One of three column*/
        .payment-two-div{
            width: 31%;
        }
        .div-header{
            padding-top: 10px;
            h3, p{
                font-size: 1.2rem;
            }
            h3{
                font-size: 1.5rem;
            }
        }
        .div-body{
            padding: 7px 10px;
        }
        .pb{
            padding-bottom: 20px;
        }
    }
}

@media (max-width: 1000px){
    .payment-two{
        .main-h2{
            padding: 10px 0 10px 0px;
            img{
                width: 22%;
            }
        } 
    }
    .payment-two-content{
        /*One of three column*/
            padding-top: 70px;
        .payment-two-div{
            width: 95%;
            margin-bottom: 70px;
        }
        .div-header{
            padding-top: 10px;
            h3, p{
                font-size: 1.8rem;
                width: 90%;
            }
            h3{
                font-size: 2.2rem;
            }
        }
        .div-header-img{
            .div-header-img-one{
                width: 28%;
            }
            .div-header-img-two{
                width: 9%;
            }
        }
        .div-body{
            padding: 7px 10px;
            span{
                padding: 10px 15px 0 0;
                width: 4%;
            }
            p{
                width: 89%;
                font-size: 1.3rem;
                margin: 10px 0;
            }
        }
        .pb{
            padding-bottom: 15px;
        }
    }
}

@media (max-width: 480px){
    .payment-two{
        .main-h2{
            padding: 10px 0 20px 0px;
            img{
                width: 50%;
            }
        } 
    }
    .payment-two-content{
        /*One of three column*/
            padding-top: 70px;
        .payment-two-div{
            width: 95%;
            margin-bottom: 70px;
        }
        .div-header{
            padding-top: 10px;
            h3, p{
                font-size: 1.4rem;
                width: 90%;
                margin: 10px 15px;
            }
            h3{
                font-size: 1.7rem;
            }
        }
        .div-header-img{
            .div-header-img-one{
                width: 45%;
            }
            .div-header-img-two{
                width: 15%;
            }
        }
        .div-body{
            padding: 7px 10px;
            span{
                padding: 17px 10px 0 0;
                width: 8%;
            }
            p{
                width: 85%;
                font-size: 1.2rem;
                margin: 10px 0;
            }
        }
        .pb{
            padding-bottom: 15px;
        }
    }
}
