.recruitment{
    width: 100%;
    // margin: auto;
    position: relative;
    scroll-margin-top: $scroll-margin-top;
    padding: 50px 0 150px;
    .main-h2{
        padding: 10px 0 35px 10px;
        img{
            width: 35%;
        }
    }
    .recruitment-image{
        width: 60%;
        margin: -350px 0 0 -70px;
    }
}

@media (max-width: 1500px){
    .recruitment{
        padding: 20px 0 150px;
        .main-h2{
            img{
                width: 30%;
            }
        }
        .recruitment-image{
            width: 50%;
            margin: -300px 0 0 0px;
        }
    }
}

@media (max-width: 1024px){
    .recruitment{
        padding: 100px 0 150px;
        .recruitment-image{
            width: 50%;
            margin: -290px 0 0 0px;
        }
    }
}

@media (max-width: 800px){
    .recruitment{
        padding: 120px 0 150px;
        .main-h2{
            padding: 10px 0 0px 10px;
            img{
                width: 35%;
            }
        }
        .recruitment-image{
            width: 90%;
            margin: 40px 0 0 0px;
        }
    }
}

@media (max-width: 480px){
    .recruitment{
        padding: 120px 0 150px;
        .main-h2{
            padding: 10px 0 0px 10px;
            img{
                width: 80%;
            }
        }
        .recruitment-image{
            width: 100%;
            margin: 80px 0 0 0px;
        }
    }
}

.wpcf7 .center{
    width: 100%;
    align-items: flex-start;
    @include flex(flex, wrap);
    .recruitment-form-h3{
        width: 100%;
        text-align: center;
        span{
        @include paragraph($black, $com, 1.3rem, normal, 110%);
        text-transform: uppercase;
        background: linear-gradient(to right, $lightYellow 0%, $darkYellow 100%) center bottom no-repeat; 
        background-size: 100% 3px;
        margin: 0 auto;
        padding-bottom: 5px;
        }
        
    }
    .recruitment-form-one{
        width: 66%;   
        @include flex(flex, wrap); 
    .recruitment-form-one-column{
        @include flex(flex, wrap);
        width: 50%;
    }
    }
    .recruitment-form-two{
        width: 33%;
        @include flex(flex, wrap);
    }
    .label-div{
        width: 100%;
        padding: 10px 0;
    }
    label {
        width: 100%;
        // padding: 10px 0;
        @include paragraph($black, $com, 0.9rem, normal, 120%);
        text-transform: uppercase;
    } 

    input[type="text"], input[type="email"], input[type="date"], input[type="tel"], select{
        border: 1px solid $lightYellow;
        border-radius: 5px;
        padding: 10px 0;
        margin-top: 5px;
    }

    input[type="text"], input[type="email"], input[type="tel"], input[type="date"], select{
        width: 80%;
    }  

    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }
      
      /* Text color for the label */
      input[type="checkbox"]+span {
        cursor: pointer;
        font: 16px sans-serif;
        color: black;
      }
      
      /* Checkbox un-checked style */
      input[type="checkbox"]+span:before {
        content: '';
        border: 1px solid $lightYellow;
        border-radius: 3px;
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 0.5em;
        margin-top: 0.5em;
        vertical-align: -2px;
      }
      
      /* Checked checkbox style (in this case the background is green #e7ffba, change this to change the color) */
      input[type="checkbox"]:checked+span:before {
        /* NOTE: Replace the url with a path to an SVG of a checkmark to get a checkmark icon */
        background-image: url('https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/collection/build/ionicons/svg/ios-checkmark.svg');
        background-repeat: no-repeat;
        background-position: center;
        /* The size of the checkmark icon, you may/may not need this */
        background-size: 25px;
        border-radius: 2px;
        background-color: $white;
        color: $white;
      }
      
      /* Adding a dotted border around the active tabbed-into checkbox */
      input[type="checkbox"]:focus+span:before,
      input[type="checkbox"]:not(:disabled)+span:hover:before {
        /* Visible in the full-color space */
        box-shadow: 0px 0px 0px 3px rgba(255, 230, 2, 0.904);
      
        /* Visible in Windows high-contrast themes
           box-shadow will be hidden in these modes and
           transparency will not be hidden in high-contrast
           thus box-shadow will not show but the outline will
           providing accessibility */
        outline-color: transparent; /*switch to transparent*/
        outline-width: 2px;
        outline-style: dotted;
        }
      
      
      /* Disabled checkbox styles */
      input[type="checkbox"]:disabled+span {
        cursor: default;
        color: black;
        opacity: 0.5;
      }

    .btn-area{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: flex-end;
        padding-top: 60px;
    }
    
    input[type="submit"]{
        background-image: url('./../images/rekrutacja/3.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        padding: 35px 70px;
        text-indent:-9999px;
        border: none;
        background-color: white;
        // position: relative;
        transition: all 1s ease-in-out;
        cursor: pointer;
    }
    // input[type="submit"]:after {
    //     content: "";
    //     background-image: url('./../images/rekrutacja/4.png');
    //     background-position: center center;
    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     content : "";
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     opacity : 0.2;
    //     z-index: 10;
        
    //     // z-index: -1;   
    // }
    input[type="submit"]:hover{
    background-image: url('./../images/rekrutacja/4.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    // opacity: 1;
    }

    
}

#site-id-3{
    .recruitment-form-h3{
        span{
        background: linear-gradient(to right, $lightRed 0%, $red 100%) center bottom no-repeat;
        background-size: 100% 3px; 
        }
        
    }
    .wpcf7 .center{
        input[type="text"], input[type="email"], input[type="date"], input[type="tel"], select{
            border: 1px solid $lightRed;
        }
    }

    input[type="checkbox"]+span:before {
        content: '';
        border: 1px solid $lightRed;
      }

      input[type="checkbox"]:focus+span:before,
      input[type="checkbox"]:not(:disabled)+span:hover:before {
        box-shadow: 0px 0px 0px 3px rgba(251, 117, 167, 0.504);
      
        /* Visible in Windows high-contrast themes
           box-shadow will be hidden in these modes and
           transparency will not be hidden in high-contrast
           thus box-shadow will not show but the outline will
           providing accessibility */
        outline-color: transparent; /*switch to transparent*/
        outline-width: 2px;
        outline-style: dotted;
        }
}


@media (max-width: 800px){
    .wpcf7 .center{
        .recruitment-form-h3{
            text-align:left;
            padding: 20px 0;
            span{
            @include paragraph($black, $com, 1.3rem, normal, 110%);
            }
        }
        .recruitment-form-one{
            width: 100%;   
        .recruitment-form-one-column{
            width: 100%;
        }
        }
        .recruitment-form-two{
            width: 100%;
        }
        .label-div{
            width: 80%;
            padding: 15px 0;
            // margin: auto;
        }
        label {
            width: 100%;
            @include paragraph($black, $com, 0.9rem, normal, 120%);
        } 
        input[type="text"], input[type="email"], input[type="tel"], input[type="date"], select{
            width: 100%;
        }  
        .btn-area{
            height: 100px;
            justify-content: flex-start;
            padding-top: 30px;
        }
    }
    
}

@media (max-width: 480px){
    .wpcf7 .center{
        .recruitment-form-h3{
            text-align:left;
            padding: 20px 0;
            span{
            @include paragraph($black, $com, 1.3rem, normal, 170%);
            }
        //     span{
        //     @include paragraph($black, $com, 1.3rem, normal, 110%);
        //     text-transform: uppercase;
        //     background: linear-gradient(to right, $lightYellow 0%, $darkYellow 100%) center bottom no-repeat; 
        //     background-size: 100% 3px;
        //     margin: 0 auto;
        //     padding-bottom: 5px;
        // }            
        }
        .recruitment-form-one{
            width: 100%;   
        .recruitment-form-one-column{
            width: 100%;
        }
        }
        .recruitment-form-two{
            width: 100%;
        }
        .label-div{
            width: 95%;
            padding: 15px 0;
            // margin: auto;
        }
        label {
            width: 100%;
            @include paragraph($black, $com, 1.0rem, normal, 120%);
        } 
        input[type="text"], input[type="email"], input[type="tel"], input[type="date"], select{
            width: 95%;
        }  
        .btn-area{
            padding-top: 20px;
            padding-left: 20px;
        }
    }
    
}


.wpcf7-not-valid-tip{
    padding: 8px 0 0;
    @include paragraph($red, $com, 1.1rem, normal, 120%);
    text-transform: uppercase;
}     

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.sent .wpcf7-response-output{
    position: absolute;
    // top: 0%;
    right: 20%;
    width: 25%;
    // margin-left: auto;
    font-size: 1.2rem;
    padding: 15px;
    border: 3px solid red;
    border-radius: 15px;
}

.wpcf7 form.sent .wpcf7-response-output{
    border: 3px solid green;
}

@media (max-width: 1500px){
    .wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.sent .wpcf7-response-output{
        right: 12%;
        width: 35%;
        font-size: 1.1rem;
    }
}

@media (max-width: 1025px){
    .wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.sent .wpcf7-response-output{
        right: 10%;
        width: 35%;
        font-size: 1.1rem;
    }
    
}

@media (max-width: 800px){
    .wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.sent .wpcf7-response-output{
        right: 15%;
        width: 50%;
        margin-top: -80px;
    }
}

@media (max-width: 480px){
    .wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.sent .wpcf7-response-output{
        right: 0%;
        width: 80%;
        margin-top: 0px;
    }
}