.career{
    // width: $main-width;
    // margin: auto;
    padding: 350px 0 200px;
    scroll-margin-top: $scroll-margin-top;
    .main-h2{
        img{
            width: 25%;
        }
    }
    .career-post-header{
        position: relative;
        img{
            width: 120px;
            z-index: 5;
            margin: 0;
            padding: 0;
            position: absolute;
            bottom: -10px;
            left: -35px;
        }
        h3{
            padding: 20px 0 0px;
            @include paragraph($violet, $com, 2.9rem, normal, 110%);
            z-index: 30;
            position: relative;
            width: 70%;
        }
    }
    .career-no-recrutation{
        h3{
            padding: 20px 0 0px;
            @include paragraph($black, $com, 2.9rem, normal, 110%);
        }
    }
    h4{
        padding: 20px 0 5px;
        margin: 0; 
        @include paragraph($violet, $com, 1.5rem, normal, 110%);
        background: linear-gradient(to right, $lightYellow 0%, $darkYellow 100%) left bottom no-repeat; 
        background-size: 170px 3px;
    }
    p{
        padding: 10px 0;
        margin: 0; 
        @include paragraph($black, $com, 1.3rem, normal, 110%);
    }
}

#site-id-3{
    .career{
        .career-post-header{
            img{
                width: 120px;
                bottom: -25px;
                left: -35px;
            }
            h3{
                color: $blue;
            }
        }
        h4{
            color: $blue;
            background: linear-gradient(to right, $red 0%, $lightRed 100%) left bottom no-repeat; 
            background-size: 170px 3px;
        }

    }
}