.contact{
    // scroll-margin-top: $scroll-margin-top;
    padding: 0;
    margin: 0;
    position: relative;
    @media (max-width: 600px){
            min-height: 700px;
            // z-index: 50;
            // background: url('./../images/kontakt/14.png');
            // background-position: top center;
            // background-repeat: no-repeat;
            // background-size: 100%;
            // border-radius: 100px 100px 0 0;
            // position: relative;
            // background: linear-gradient(to bottom, #fcab1e, #ffdc4c);
            // border-radius: 40px 40px 0 0;
            // :after{
            //     content: url('./../images/kontakt/15.png');
            //     // background: url('./../images/kontakt/14.png');
            //     // background-position: top left;
            //     // background-repeat: no-repeat;
            //     // background-size: 100%;
            //     position:absolute;
            //     top: 0px;
            //     left: 0px;
            //     height: 300px;
            //     width: 200px;
            //     // height: 200px;
            //     // z-index: -1;
            // }
            // border-bottom: 100px solid tomato;
            // border-left: 30px solid transparent;
            // border-right:30px solid transparent;
            // border-top:15px solid transparent;
            // height: 0;
            // width: 200px;
                // &::before{
                // //    content: url('./../images/kontakt/14.png') 100%;
                // //     @include position(absolute, auto, auto, 100%, 0%);
                //     content: "";
                //     width: 100%;
                //     height: 100%;
                //     background: url('./../images/kontakt/14.png');
                //     background-position: center center;
                //     background-repeat: no-repeat;
                //     background-size: 100%;
                //     position: absolute;
                //     top: -40%;
                //     left: 0%;
                //     z-index: 0;
                //     // display: inline-block;
                //  }
                // .img-before{
                //     position: absolute;
                //     top: 0px;
                //     // height: 100%;
                //     left: 0;
                //     // z-index: -1;
                //     img{
                //         width: 100%;
                //     }
                // }
    }
    .main-h2{
        justify-content: center;
        padding: 50px 0;
    }
    @media (max-width: 800px){
        .main-h2{
            img{
                width: 30%;
            }
        }
    }
    
    @media (max-width: 600px){
        .main-h2{
            padding: 50px 0;
            img{
                width: 45%;
                z-index: 20;
            }
        }
    }
    .contact-main{
        width: 100%;
        position: relative;
    }
    .contact-one{
        width: 50%;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media (max-width: 1600px){
            width: 55%;
        }
        @media (max-width: 1400px){
            width: 60%;
        }
        @media (max-width: 1200px){
            width: 72%;
            left: 45%;
        }
        @media (max-width: 600px){
            width: 100%;
            left: 50%;
        }
        .contact-one-img{
            position: absolute;
            top: 0;
            @media (max-width: 600px){
            // display: none;
            top: -180px;
            left: 0;
            right: 0;
            z-index: -1;
            }
        }
        .content{
            width: 55%;
            z-index: 10;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 13%;
        }
        @media (max-width: 1600px){
            .content{
                width: 60%;
                padding-top: 5%;
            }
        }
        @media (max-width: 1200px){
            .content{
                width: 70%;
                padding-top: 4%;
            }
        }
        @media (max-width: 1200px){
            .content{
                width: 80%;
                // padding-top: 4%;
            }
        }
        .content-one{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 20px;
            @media (max-width: 1200px){
                padding-bottom: 15px;
            }
            @media (max-width: 600px){
                padding-bottom: 25px;
            }
            h4{
                text-transform: uppercase;
                margin: 10px 0 10px;
                color: $violet;
                font-size: 1.2rem;
                font-family: $com;
                font-weight: 400;
                @media (max-width: 800px){
                    font-size: 1.0rem;
                }
                @media (max-width: 600px){
                    margin: 20px 0 5px;
                    font-size: 1.1rem;
                }
            }
            .content-one-img{
                width: 15%;
                img{
                    width: 40%;
                }
            }
            @media (max-width: 600px){
                .content-one-img{
                    width: 8%;
                    img{
                        width: 100%;
                    }
                }  
            }
            .content-one-text{
                width: 85%;
                @media (max-width: 600px){
                    width: 89%;
                }
                p{
                    margin: 0 0 7px 20px;
                    color: $white;
                    font-size: 1.1rem;
                    font-family: $com;
                    font-weight: 300;
                    word-wrap: break-word;
                    @media (max-width: 800px){
                        font-size: 0.9rem;
                    }
                    @media (max-width: 600px){
                        // font-size: 1.0rem;
                        // margin: 0 0 7px 20px;
                    }
                }
                .contact-small{
                    font-size: 1.0rem;
                    @media (max-width: 800px){
                        font-size: 0.8rem;
                    }
                    @media (max-width: 600px){
                        font-size: 0.9rem;
                    }
                }
                a{
                    text-decoration: none;
                }
            }
        }
    }
}

#site-id-3{
    .contact{
        .contact-one{
            width: 55%;
            left: 45%;
            .content{
                width: 55%;
                padding-top: 22%;
                padding-left: 10%;
            }
            .content-one{
                h4{
                    color: $red;
                }
            }
        }
        
    }
    @media (max-width: 1600px){
        .contact{
            .contact-one{
                width: 65%;
                left: 52%;
                .content{
                    width: 55%;
                    padding-top: 15%;
                    padding-left: 10%;
                }
            }
        } 
    }
    @media (max-width: 1400px){
        .contact{
            .contact-one{
                width: 68%;
                left: 52%;
                .content{
                    width: 55%;
                    padding-top: 15%;
                    padding-left: 10%;
                }
            }
        } 
    }
    @media (max-width: 1200px){
        .contact{
            .contact-one{
                width: 75%;
                left: 58%;
                .content{
                    width: 55%;
                    padding-top: 15%;
                    padding-left: 5%;
                }
            }
        } 
    }

    @media (max-width: 800px){
        .contact{
            .contact-one{
                width: 90%;
                left: 50%;
                .content{
                    width: 60%;
                    padding-top: 15%;
                    padding-left: 10%;
                }
                .content-one{
                    h4{
                        color: $red;
                    }
                }
            }
    }
   
}

    @media (max-width: 600px){
        .contact{
            // height: 900px;
            // background: linear-gradient(#00b7d5, #0070f4);
            .contact-one{
                width: 100%;
                left: 50%;
                .content{
                    width: 85%;
                    padding-top: 5%;
                    padding-left: 0%;
                }
            }
        } 
    }

}


