.header{
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 1200px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .heder-position{
    @include position(absolute, 0%, 0%, 0%, 45%);
    margin-left: auto;
    display: flex;
    justify-content: center;
  }
  
  #site-id-3{
    .heder-content{
      p{
        color: $lightBlue;
      }
    }
  }

  .heder-content{
    text-align: right;
    padding-top: 20%;
    padding-right: 30%;
    h2{
        width: 100%;
        @include paragraph($white, $com, 3.1rem, bold, 200%);
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }
    p{
        width: 100%;
        @include paragraph($violet, $com, 1.7rem, normal, 110%);
        text-transform: uppercase;
        margin: 0;
        padding: 5px;
    }
    .heder-img{
        margin-left: auto;
        width: 200px;
        padding-top: 30px;
        a{
            display: block;
            width: 100%;      
            height: 100%;      
            img{
                width: 100%;
            }
        }
    }
    
}

  .header-new{
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 300px;
    position: fixed;
    z-index: 100;
  }

  @media (max-width: 1600px){
    .header{
      min-height: 900px;
    }
    .heder-content{
      padding-top: 25%;
      padding-right: 20%;
      h2{
          @include paragraph($white, $com, 2.5rem, bold, 200%);
      }
      p{
          width: 100%;
          @include paragraph($violet, $com, 1.4rem, normal, 110%);
      }
  }
}
  @media (max-width: 1400px){
    .header{
      min-height: 780px;
    }
    .heder-content{
      padding-right: 15%;
      h2{
          @include paragraph($white, $com, 2.0rem, bold, 200%);
      }
      p{
          width: 100%;
          @include paragraph($violet, $com, 1.3rem, normal, 110%);
      }
      .heder-img{
          width: 180px;
      }
  }
  }


  @media (max-width: 1200px){
    .header{
      min-height: 680px;
    }
    .heder-content{
      padding-right: 15%;
      h2{
          @include paragraph($white, $com, 1.6rem, bold, 200%);
      }
      p{
          width: 100%;
          @include paragraph($violet, $com, 1.1rem, normal, 110%);
      }
      .heder-img{
          width: 160px;
      }
  }
  }

  @media (max-width: 800px){
    .header{
      min-height: 550px;
    }
    .heder-content{
      padding-right: 10%;
      padding-top: 20%;
      h2{
          @include paragraph($white, $com, 1.5rem, bold, 170%);
      }
      p{
          @include paragraph($violet, $com, 1.0rem, normal, 110%);
      }
      .heder-img{
          padding-top: 5px;
      }
  }
  }

  @media (max-width: 500px){
    .header{
      min-height: 600px;
    }
    .heder-position{
      @include position(absolute, 0%, 0%, 0%, 0%);
    }
    .heder-content{
      padding-right: 5%;
      padding-top: 40%;
      h2{
          @include paragraph($white, $com, 1.6rem, bold, 170%);
      }
      p{
          @include paragraph($white, $com, 1.1rem, normal, 110%);
          padding: 10px 0;
      }
      .heder-img{
          padding-top: 5px;
      }
  }
  }


