.recruitment{
    width: 100%;
    // margin: auto;
    position: relative;
    scroll-margin-top: $scroll-margin-top;
    padding: 50px 0 150px;
    .main-h2{
        padding: 10px 0 35px 10px;
        img{
            width: 35%;
        }
    }
    .recruitment-image{
        width: 60%;
        margin: -350px 0 0 -70px;
    }
}

#site-id-3{
    .recruitment-form-h3{
        span{
        background: linear-gradient(to right, $lightRed 0%, $red 100%) center bottom no-repeat; 
        }
        
    }
    .wpcf7 .center{
        input[type="text"], input[type="email"], input[type="date"], select{
            border: 1px solid $lightRed;
        }
    }
}

.wpcf7 .center{
    width: 100%;
    align-items: flex-start;
    @include flex(flex, wrap);
    .recruitment-form-h3{
        width: 100%;
        text-align: center;
        span{
        @include paragraph($black, $com, 1.3rem, normal, 110%);
        text-transform: uppercase;
        background: linear-gradient(to right, $lightYellow 0%, $darkYellow 100%) center bottom no-repeat; 
        background-size: 100% 3px;
        margin: 0 auto;
        padding-bottom: 5px;
        }
        
    }
    .recruitment-form-one{
        width: 66%;   
        @include flex(flex, wrap); 
    .recruitment-form-one-column{
        @include flex(flex, wrap);
        width: 50%;
    }
    }
    .recruitment-form-two{
        width: 33%;
        @include flex(flex, wrap);
    }
    label{
        width: 100%;
        padding: 20px 0;
        @include paragraph($black, $com, 0.9rem, normal, 120%);
        text-transform: uppercase;
    } 
    input[type="text"], input[type="email"], input[type="date"], select{
        border: 1px solid $lightYellow;
        border-radius: 5px;
        padding: 10px 0;
    }
    input[type="text"], input[type="email"]{
        width: 80%;
    }  
    input[type="date"]{
        width: 107%;
    }  
    select{
        width: 89%;
    } 
    .btn-area{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: flex-end;
        padding-top: 60px;
    }
    input[type="submit"]{
        background-image: url('./../images/rekrutacja/3.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        padding: 35px 70px;
        text-indent:-9999px;
        border: none;
        background-color: white;
        // position: relative;
        transition: all 1s ease-in-out;
        cursor: pointer;
    }
    // input[type="submit"]:after {
    //     content: "";
    //     background-image: url('./../images/rekrutacja/4.png');
    //     background-position: center center;
    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     content : "";
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     opacity : 0.2;
    //     z-index: 10;
        
    //     // z-index: -1;   
    // }
    input[type="submit"]:hover{
    background-image: url('./../images/rekrutacja/4.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    // opacity: 1;
    }
}
     
