.about-us-wrapper, .about-position, .career, .recruitment-position, .site-footer, .parrents, .payment-position{
    width: $main-width;
    margin: auto;
}


@media (max-width: 1600px) {
    .about-us-wrapper, .about-position, .career, .recruitment-position, .site-footer, .parrents, .payment-position{
        width: $main-width-medium;
        margin: auto;
    }
  }

@media (max-width: 1200px) {
    .about-us-wrapper, .about-position, .career, .recruitment-position, .site-footer, .parrents, .payment-position{
        width: $main-width-small;
        margin: auto;
    }
  }

  .about-position, .career, .contact, .payment-one, .payment-two, .recruitment{
    scroll-margin-top: $scroll-margin-top;
  }

  @media (max-width: 1024px){
    .about-position, .career, .contact, .payment-one, .payment-two, .recruitment{
      scroll-margin-top: $scroll-margin-top-medium;
    }
  }

  @media (max-width: 600px){
    .about-position, .career, .contact, .payment-one, .payment-two, .recruitment{
      scroll-margin-top: $scroll-margin-top-small;
    }
  }
