.footer{
    position: relative;
}

.footer-img{
    padding: 270px 0 0 0;
    margin: 0;
}

.site-footer{
    position: absolute;
    bottom: 0%;
    z-index: 10;
    padding: 0;
    margin: 0;
    opacity: 0.5;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: black;
    color: $white;
}

.footer-one, .footer-two, .footer-three{
    width: 33%;
}

.footer-one-img, .footer-two-img, .footer-three-img{
    width: 100%;
    img{
        width: 10%;
    }
}