$pop: 'Poppins', sans-serif;
$com: 'Comfortaa', cursive;

$white: white;
$black: black;
$violet: #7f2181;
$lightBrown: #fdf2dc;
$cardColorOne: #fcf3db;
$cardColorHead: #e0d7e2;

$toogleBlue: #cdf3fc;
$lightBlue: #00c5d5;
$blue: #00afd6;
$darkBlue: #0069f9;
$red: #e50657;
$lightRed: #fb75a7;
$cardColorTwo: #cdf3fc;
$cardColorHeadTwo: #fadbea;

$lightYellow: rgba(252,175,25,255);
$darkYellow: rgba(253,209,45,255);

$main-width: 60%;
$main-width-medium: 85%;
$main-width-small: 92%;

$scroll-margin-top: 250px;

// @media (max-width: 1025px){
//     $main-width: 95%;
// } 

// @media (max-width: 1600px){
//     $main-width: 85%;
// } 